@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold/poppins-bold-webfont.eot");
  src: url("../fonts/poppins-bold/poppins-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-bold/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold/poppins-bold-webfont.woff") format("woff"), url("../fonts/poppins-bold/poppins-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular/poppins-regular-webfont.eot");
  src: url("../fonts/poppins-regular/poppins-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-regular/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular/poppins-regular-webfont.woff") format("woff"), url("../fonts/poppins-regular/poppins-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold/poppins-semibold-webfont.eot");
  src: url("../fonts/poppins-semibold/poppins-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-semibold/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold/poppins-semibold-webfont.woff") format("woff"), url("../fonts/poppins-semibold/poppins-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light/poppins-light-webfont.eot");
  src: url("../fonts/poppins-light/poppins-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-light/poppins-light-webfont.woff2") format("woff2"), url("../fonts/poppins-light/poppins-light-webfont.woff") format("woff"), url("../fonts/poppins-light/poppins-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium/poppins-medium-webfont.eot");
  src: url("../fonts/poppins-medium/poppins-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-medium/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium/poppins-medium-webfont.woff") format("woff"), url("../fonts/poppins-medium/poppins-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 98%; }
  .mobile-order {
    order: 2; } }

@media only screen and (max-width: 567px) {
  .m-form-top {
    margin-top: 15px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: "poppinsregular";
  scroll-behavior: smooth; }

ul {
  margin: 0;
  padding: 0; }

.white-bg {
  background-color: #fff; }

h1, h2, h3 {
  font-family: "poppinsbold";
  font-size: 3em;
  font-family: "poppinsbold";
  text-transform: uppercase;
  margin: 25px 0 25px 0; }
  h1 span, h2 span, h3 span {
    color: #94CA31; }

p {
  font-size: 1.6em;
  line-height: 35px;
  margin-bottom: 0; }

.theme-primary-btn {
  background-color: #FFCA00;
  font-family: "poppinsmedium";
  color: #000;
  font-size: 1.6em;
  opacity: 0.8;
  padding: 10px 10px;
  margin: 15px 0 0; }
  .theme-primary-btn:hover {
    background-color: #94CA31;
    color: #fff;
    border-color: #94CA31; }

.theme-secondary-btn {
  background-color: #94CA31;
  font-family: "poppinsregular";
  color: #000;
  font-size: 1.6em;
  opacity: 1;
  padding: 10px 20px;
  margin: 15px 0 0;
  border: 1px solid transparent;
  font-size: 1.6em; }
  .theme-secondary-btn:hover {
    background-color: #94CA31;
    color: #fff;
    border-color: #94CA31; }

.theme-third-btn {
  background-color: #fff;
  font-family: "poppinsregular";
  color: #000;
  font-size: 1.6em;
  opacity: 1;
  padding: 7px 10px;
  margin: 15px 0 0;
  border: 1px solid #000;
  font-size: 1.6em; }
  .theme-third-btn:hover {
    background-color: #94CA31;
    color: #fff;
    border-color: #94CA31; }

.text-left-space {
  margin-left: 30px; }

.rating {
  background-image: url(../images/rating.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 17px; }
  .rating::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%; }
  .rating::before {
    background-color: transparent; }

.used-offer-tag {
  position: relative;
  overflow: hidden; }
  .used-offer-tag .offer-tag {
    background-color: red;
    color: #fff;
    font-family: "poppinsbold";
    font-size: 1.3em;
    position: absolute;
    top: -12px;
    left: -35px;
    width: 100px;
    height: 57px;
    text-align: center;
    line-height: 80px;
    transform: rotate(-45deg); }

/* ===== Booking Form ===== */
.form-design {
  margin-top: -50px; }
  .form-design .form-main-heading {
    background-color: rgba(255, 202, 0, 0.6);
    color: #fff;
    text-align: center;
    font-family: "poppinsbold";
    font-size: 1.8em;
    border-radius: 4px 4px 0 0;
    padding: 10px 0;
    white-space: nowrap;
    height: 50px;
    line-height: 35px; }
  @media (max-width: 767px) {
    .form-design {
      margin-top: 0; }
      .form-design .form-main-heading {
        background-color: #ffca00; } }
  .form-design .form-section {
    border: 1px solid rgba(10, 30, 2, 0.1);
    padding: 15px 10px; }
    .form-design .form-section .form-group {
      font-size: 1.4em; }
      .form-design .form-section .form-group label {
        font-family: "poppinsmedium"; }
      .form-design .form-section .form-group .form-control {
        height: 45px; }

::-webkit-input-placeholder {
  color: white;
  font-size: 0.9em; }

:-moz-placeholder {
  color: white;
  font-size: 0.9em; }

::-moz-placeholder {
  color: white;
  font-size: 0.9em; }

:-ms-input-placeholder {
  color: white;
  font-size: 0.9em; }

.category-list {
  margin: 15px 0; }
  .category-list .category-heading {
    padding: 10px 10px;
    border-radius: 8px 8px 0 0;
    font-size: 1.8em;
    font-family: "poppinssemibold";
    border: 1px solid rgba(10, 30, 2, 0.2);
    border-bottom-width: 0; }
  .category-list .list-group-item {
    font-size: 1.3em;
    font-family: "poppinsregular"; }

.table {
  font-size: 1.3em;
  margin-bottom: 0; }

.pay-now {
  background-color: #94CA31;
  font-family: "poppinsbold";
  color: #fff;
  font-size: 1.3em;
  opacity: 1;
  padding: 8px 15px;
  border-radius: 2px; }
  .pay-now:hover {
    color: #fff;
    background-color: #94CA31; }

.maincont {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: grid;
  place-items: center;
  grid-template-columns: auto;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden; }
  .maincont .scroll-loader {
    color: #fff;
    position: relative;
    width: fit-content;
    font-size: 5em;
    font-family: "poppinsbold";
    text-transform: uppercase; }
    .maincont .scroll-loader::after {
      width: 100%;
      content: "~Loading~";
      color: #24ac24;
      position: absolute;
      top: 0;
      left: 0;
      border-right: 2px solid #24ac24;
      overflow: hidden;
      animation: loadAni 2s linear infinite; }

@keyframes loadAni {
  0% {
    width: 0%; }
  50% {
    width: 100%; }
  100% {
    width: 0%; } }

.lightgray-bg {
  background-color: #F2F2F2; }

.sticky {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  transition: all 1s;
  z-index: 20; }

.fixed {
  position: fixed;
  animation: navAni 1s;
  background-color: #0A1E02; }

@keyframes navAni {
  from {
    top: -70px; }
  to {
    top: 0; } }
  .fixed .nav-section .navbar-brand {
    text-align: left; }
    .fixed .nav-section .navbar-brand .logo-img {
      max-width: 60%; }
  .fixed .header-contact-info {
    padding: 5x 0; }

.nav-section .navbar-brand {
  text-align: left; }
  .nav-section .navbar-brand .logo-img {
    max-width: 75%; }

@media (min-width: 320px) and (max-width: 991.98px) {
  .nav-section {
    height: 60px;
    padding: 0px 10px; }
    .nav-section .mobile-menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative; }
      .nav-section .mobile-menu .navbar-toggler {
        position: absolute;
        top: 5px;
        left: unset;
        right: 0;
        bottom: 0;
        bottom: 0;
        z-index: 9999;
        padding: 0;
        height: auto;
        margin: 0; }
        .nav-section .mobile-menu .navbar-toggler:visited, .nav-section .mobile-menu .navbar-toggler:focus {
          outline: 0;
          box-shadow: 0 0 0; }
        .nav-section .mobile-menu .navbar-toggler .fa-bars {
          color: #fff;
          font-size: 1.3em; } }

.nav-section .navbar-expand-lg {
  padding: 0; }
  .nav-section .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
    .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.active .nav-link {
      color: #FFCA00;
      position: relative; }
      .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.active .nav-link::before {
        content: "";
        border-top: 2px solid #FFCA00;
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        bottom: unset;
        width: 15px;
        margin: 0 auto; }
    .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
      font-size: 1.3em;
      padding: 0 20px;
      color: #fff; }
      .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: #FFCA00;
        position: relative; }
        .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
          content: "";
          border-top: 2px solid #FFCA00;
          position: absolute;
          top: -5px;
          left: 0;
          right: 0;
          bottom: unset;
          width: 15px;
          margin: 0 auto; }
    @media (min-width: 320px) and (max-width: 991.98px) {
      .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav {
        flex-direction: row;
        background: #000;
        padding: 21px 0; } }
    @media (min-width: 320px) and (max-width: 576px) {
      .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav {
        flex-direction: column;
        padding: 0px 0;
        width: 100%;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0; }
        .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item {
          text-align: right; }
          .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
            padding: 15px 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
        .nav-section .navbar-expand-lg .navbar-collapse .navbar-nav .active .nav-link::before {
          border-top: 0px solid #FFCA00; } }

/*===== Banner ===== */
.banner .carousel-indicators {
  position: absolute;
  top: 0;
  left: unset;
  right: 0;
  bottom: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10%;
  margin-left: 0%; }
  .banner .carousel-indicators li {
    border-radius: 55px;
    width: 12px;
    height: 12px;
    border: 0;
    margin: 0 0 10px 0;
    background-color: #fff;
    opacity: 1; }
    .banner .carousel-indicators li.active {
      background-color: #FFCA00; }

@media (max-width: 576px) {
  .banner .carousel-indicators {
    flex-direction: row;
    margin: 0;
    top: unset;
    margin: 0 auto;
    left: auto;
    width: 100%; }
    .banner .carousel-indicators li {
      margin: 0 5px 10px; } }

.banner .carousel-caption {
  position: absolute;
  top: 50%;
  left: 12%;
  right: unset;
  bottom: unset;
  transform: translate(0px, -50%);
  width: 40%;
  z-index: 10;
  color: #fff;
  text-align: left;
  padding: 0; }
  .banner .carousel-caption h4 {
    color: #fff;
    font-family: "poppinsbold";
    font-size: 3em;
    margin: 0; }
  .banner .carousel-caption h3 {
    color: #94CA31;
    font-family: "poppinsbold";
    font-size: 5em;
    margin: 0; }
  .banner .carousel-caption p {
    margin: 25px 0; }
  @media (min-width: 320px) and (max-width: 991.98px) {
    .banner .carousel-caption {
      width: 50%;
      top: 55%; }
      .banner .carousel-caption h4 {
        font-size: 2.5em; }
      .banner .carousel-caption h3 {
        font-size: 3.5em; }
      .banner .carousel-caption p {
        margin: 10px 0; } }
  @media (min-width: 991.98px) and (max-width: 1298px) {
    .banner .carousel-caption {
      width: 60%; } }

.header-contact-info {
  background-color: #FFCA00;
  padding: 10px 10px;
  font-size: 1.3em;
  font-family: "poppinssemibold"; }
  .header-contact-info .mail-top {
    justify-content: space-between;
    align-items: center; }
    .header-contact-info .mail-top .contact .vline {
      padding: 0 10px; }
    @media (min-width: 320px) and (max-width: 576px) {
      .header-contact-info .mail-top .contact {
        margin: 5px 0 10px 0; }
        .header-contact-info .mail-top .contact .vline {
          padding: 0 10px; } }
    @media (min-width: 320px) and (max-width: 576px) {
      .header-contact-info .mail-top {
        justify-content: center; } }

/* ===== welcome text ===== */
.welcome-text span {
  color: #94CA31; }

.welcome-text a {
  color: #94CA31;
  font-weight: bold;
  text-decoration: underline; }

/*===== Booking Option ===== */
.booknow {
  margin: 20px 0; }
  .booknow .book-now-card {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 15px 0;
    transition: all 0.5s; }
    @media (min-width: 576px) and (max-width: 1024px) {
      .booknow .book-now-card {
        flex-direction: column;
        text-align: center;
        padding: 10px 5px;
        margin: 15px 0 0 0; } }
    .booknow .book-now-card.kanha-taxi {
      background-image: url(../images/kanha-taxi.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative; }
      .booknow .book-now-card.kanha-taxi::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%; }
      .booknow .book-now-card.kanha-taxi::before {
        background-color: #890508;
        opacity: 0.8; }
    .booknow .book-now-card.kanha-tour {
      background-image: url(../images/kanha-taxi.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative; }
      .booknow .book-now-card.kanha-tour::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%; }
      .booknow .book-now-card.kanha-tour::before {
        background-color: #18bb27;
        opacity: 0.8; }
    .booknow .book-now-card.kanha-hotel {
      background-image: url(../images/kanha-taxi.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative; }
      .booknow .book-now-card.kanha-hotel::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%; }
      .booknow .book-now-card.kanha-hotel::before {
        background-color: #122247;
        opacity: 0.8; }
    .booknow .book-now-card:hover {
      transform: scale(1.1); }
    .booknow .book-now-card .icon-circle {
      z-index: 2;
      border-radius: 50px;
      width: 100px;
      height: 100px;
      border: 5px solid #fff;
      margin-right: 10px;
      text-align: center;
      padding: 18px; }
      .booknow .book-now-card .icon-circle i {
        font-size: 50px;
        color: #fff; }
    .booknow .book-now-card .content {
      z-index: 2; }
      .booknow .book-now-card .content h5 {
        font-family: "poppinsmedium";
        font-size: 1.8em;
        color: #fff; }
        @media (min-width: 768px) and (max-width: 1024px) {
          .booknow .book-now-card .content h5 {
            margin-top: 15px; } }
      .booknow .book-now-card .content .cust-secondry-btn {
        font-size: 1.3em;
        margin: 10px 0 0 0;
        text-align: right; }
      .booknow .book-now-card .content a {
        border: 0; }
    .booknow .book-now-card:hover {
      background-color: #1E325C;
      cursor: pointer; }
      .booknow .book-now-card:hover .icon-circle {
        border-color: #fff; }
        .booknow .book-now-card:hover .icon-circle i {
          color: #fff; }
      .booknow .book-now-card:hover .content h5 {
        color: #fff; }
      .booknow .book-now-card:hover .content .cust-secondry-btn {
        background-color: #FFCA00;
        color: #0A1E02;
        border-color: #FFCA00; }

/* ===== hotel booking ===== */
.slider {
  position: relative;
  margin-bottom: 60px; }
  .slider .gray-bg {
    position: relative; }
    .slider .gray-bg::after {
      content: "";
      background-color: #F2F2F2;
      width: 100%;
      height: 90%;
      top: 18%;
      left: 0;
      position: absolute; }
    .slider .gray-bg .owl-carousel {
      z-index: 1; }
    .slider .gray-bg .owl-nav button {
      background-color: #FF9D00 !important;
      width: 50px;
      height: 50px;
      color: #fff !important;
      position: absolute;
      left: -40px;
      z-index: 1;
      top: 70px; }
      .slider .gray-bg .owl-nav button span {
        font-size: 50px;
        line-height: 30px; }
      .slider .gray-bg .owl-nav button.owl-next {
        top: 125px; }
      .slider .gray-bg .owl-nav button:focus {
        border: 0;
        outline: 0; }
    .slider .gray-bg .owl-theme .item {
      position: relative;
      cursor: pointer; }
      .slider .gray-bg .owl-theme .item:hover .tour-package-data {
        bottom: 0%; }
      .slider .gray-bg .owl-theme .item .tour-package-data {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        bottom: -100%;
        left: 0;
        transition: all 1s; }
        .slider .gray-bg .owl-theme .item .tour-package-data .content-block {
          color: #fff;
          padding: 0 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          height: 100%; }
          .slider .gray-bg .owl-theme .item .tour-package-data .content-block .time {
            margin-bottom: 10px;
            font-size: 1.3em; }
          .slider .gray-bg .owl-theme .item .tour-package-data .content-block .pack-heading {
            color: #FFCA00;
            font-family: "poppinsbold";
            font-size: 1.8em; }
          .slider .gray-bg .owl-theme .item .tour-package-data .content-block .des {
            font-size: 1.3em;
            line-height: 20px;
            margin: 10px 0 0; }
          .slider .gray-bg .owl-theme .item .tour-package-data .content-block .price {
            font-size: 3em;
            font-family: "poppinsbold";
            margin: 20px 0; }

/*===== hotels-home ===== */
.bg-img {
  background-image: url("../images/dear-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 70px 0;
  position: relative; }
  .bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%; }

.hotels-home .card-body {
  padding: 20px; }
  .hotels-home .card-body .card-title {
    font-size: 1.8em;
    font-family: "poppinsbold";
    color: #0A1E02; }
  .hotels-home .card-body .card-text {
    line-height: 23px;
    font-size: 1.3em; }

.hotels-home .d-inline-flex {
  display: inline-flex; }

/*===== Blog Card ===== */
.blog-card .card-img {
  position: relative; }
  .blog-card .card-img .date {
    border-radius: 50px;
    background-color: #94CA31;
    width: 80px;
    height: 80px;
    padding: 20px 10px;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: "poppinsbold";
    line-height: 20px;
    position: absolute;
    top: 15px;
    right: 15px; }

.blog-card .usefull-info {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5); }
  .blog-card .usefull-info .author {
    font-family: "poppinsbold";
    font-size: 16px; }
  .blog-card .usefull-info .like-comment {
    font-size: 1.3em;
    font-family: "poppinssemibold"; }
    .blog-card .usefull-info .like-comment span {
      padding: 0 0px 0 10px; }
      .blog-card .usefull-info .like-comment span i {
        color: rgba(0, 0, 0, 0.2); }

.blog-card .card-title {
  font-family: "poppinsbold";
  font-size: 1.8em;
  color: #94CA31;
  margin: 15px 0; }

.blog-card .card-text {
  font-size: 1.3em;
  line-height: 26px; }

/*===== Footer CSS ===== */
footer {
  background-color: #0A1E02; }
  footer .footersection h4 {
    color: #FFCA00;
    font-size: 1.8em;
    text-transform: capitalize; }
  footer .footersection a {
    color: #fff;
    display: inline-block; }
  footer .footersection .footerlink {
    padding: 15px 15px; }
    footer .footersection .footerlink ul li {
      font-size: 1.3em;
      list-style-type: none; }
      footer .footersection .footerlink ul li a {
        padding: 10px 0 0 0; }
  footer .footersection .contact-info {
    color: #fff;
    padding: 15px 15px; }
    footer .footersection .contact-info p {
      font-size: 1.3em; }
    footer .footersection .contact-info .social-med li {
      display: inline-block; }
      footer .footersection .contact-info .social-med li a {
        font-size: 35px;
        padding: 10px 20px 0 0px;
        color: #94CA31; }
  footer .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3em;
    padding: 0px 0 20px 0; }
    footer .copyright a {
      color: rgba(255, 255, 255, 0.5); }

.book-trip {
  background-color: #FFCA00;
  color: #0A1E02;
  font-size: 1.6em;
  padding: 10px 15px;
  font-family: "poppinssemibold";
  border: 0;
  border-radius: 4px; }

.kanha-innerbanner {
  background-image: url("../images/kanha-inner-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 300px; }
  .kanha-innerbanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%; }
  .kanha-innerbanner.paynow-banner {
    background-image: url("../images/payment-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .kanha-innerbanner.paynow-banner::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%; }
  .kanha-innerbanner.hotel-banner {
    background-image: url("../images/hotels-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom; }
    .kanha-innerbanner.hotel-banner::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%; }
  .kanha-innerbanner.contact-banner {
    background-image: url("../images/contactus-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom; }
    .kanha-innerbanner.contact-banner::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%; }
  .kanha-innerbanner .title {
    position: absolute;
    top: 60%;
    transform: translateY(-50%); }
    .kanha-innerbanner .title h2 {
      color: #94CA31;
      margin: 0 0 10px 0; }
    .kanha-innerbanner .title .breadcrumb {
      background: transparent;
      padding: 0px 0;
      font-size: 1.3em;
      margin: 0; }
      .kanha-innerbanner .title .breadcrumb .breadcrumb-item a {
        color: white; }
      .kanha-innerbanner .title .breadcrumb .breadcrumb-item.active {
        color: #FFCA00; }

.hotels-list .read-more {
  color: initial;
  transition: all 1s;
  display: block; }
  .hotels-list .read-more:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-decoration: none; }

.hotels-list .card-img {
  border-radius: 0.25em 0 0 0.25em;
  height: 200px;
  object-fit: cover;
  object-position: top; }

.hotels-list .data-body {
  padding: 15px; }
  .hotels-list .data-body .facilites i {
    font-size: 1.8em;
    padding: 15px 10px 0px 0px;
    color: rgba(0, 0, 0, 0.5); }
  .hotels-list .data-body .card-text {
    line-height: 25px;
    margin: 10px 0 0;
    font-size: 1.3em; }
  .hotels-list .data-body .time {
    padding: 10px 0;
    font-size: 1.6em; }
    .hotels-list .data-body .time i {
      color: #94CA31;
      margin-right: 5px; }
  .hotels-list .data-body .price {
    text-align: right; }
    .hotels-list .data-body .price del {
      font-size: 1.4em;
      font-family: "poppinssemibold";
      color: rgba(0, 0, 0, 0.5); }
    .hotels-list .data-body .price .offerprice {
      color: #94CA31;
      font-family: "poppinssemibold";
      font-size: 2.5em;
      line-height: initial; }

/* ===== View page ===== */
.view-page-content {
  margin-bottom: 20px; }
  .view-page-content h2 {
    font-size: 1.8em;
    font-family: "poppinssemibold";
    margin: 0 0 10px 0; }
    .view-page-content h2 strong {
      color: #94CA31; }
  .view-page-content p {
    line-height: 28px;
    font-size: 1.4em; }
  .view-page-content .extra-info {
    margin: 15px 0; }
    .view-page-content .extra-info li {
      list-style-type: none;
      font-size: 1.6em;
      display: flex;
      border-top: 1px dashed rgba(10, 30, 2, 0.2);
      padding: 10px 20px 10px 40px; }
      .view-page-content .extra-info li em {
        color: rgba(0, 0, 0, 0.7); }
      .view-page-content .extra-info li strong {
        min-width: 40%; }
    .view-page-content .extra-info .inner-accom li {
      border-top-width: 0;
      font-size: 16px;
      padding: 5px 0; }
      .view-page-content .extra-info .inner-accom li .fa-check {
        color: #94CA31;
        line-height: 20px; }
      .view-page-content .extra-info .inner-accom li .fa-times {
        color: red;
        line-height: 20px; }

/* ===== Tour view table ===== */
.price-table thead {
  background-color: rgba(0, 0, 0, 0.15); }

.address {
  padding: 25px 0; }
  .address p {
    display: flex;
    align-items: center;
    line-height: 25px; }
    .address p i {
      color: #94CA31;
      font-size: 3em;
      margin-right: 0.5em; }

.page-up {
  position: fixed;
  top: unset;
  left: unset;
  right: 10px;
  bottom: 10px;
  padding: 15px 20px;
  z-index: 5;
  border-radius: 8px;
  background-color: #94ca31;
  font-size: 1.8em;
  color: #fff;
  display: none; }
  .page-up:focus {
    outline: 0;
    box-shadow: 0 0 0; }
  .page-up.show {
    display: block; }

.safari-form-section .tab-btn {
  background-color: #fff;
  font-family: "poppinsregular";
  color: #0A1E02;
  font-size: 1.6em;
  opacity: 1;
  padding: 12px 15px;
  border-radius: 0;
  border: 0px solid #000;
  font-size: 1.6em; }
  .safari-form-section .tab-btn.active-btn {
    background-color: #0A1E02;
    color: #fff; }
  .safari-form-section .tab-btn:hover {
    background-color: #0A1E02;
    color: #fff;
    border-color: #94CA31; }
  .safari-form-section .tab-btn:focus {
    box-shadow: 0 0 0;
    outline: 0; }

.safari-form-section .safari-form {
  background-color: #94CA31;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  padding: 10px; }
  .safari-form-section .safari-form .eleph-show, .safari-form-section .safari-form #elephant-time {
    display: none; }
  .safari-form-section .safari-form .jeep-safari {
    background-image: url(../images/jeep-safari.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    width: 100%;
    height: 100%; }
    .safari-form-section .safari-form .jeep-safari::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%; }
    .safari-form-section .safari-form .jeep-safari::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 8px; }
  .safari-form-section .safari-form .eleph-safari {
    background-image: url(../images/elephant-safari.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    display: none;
    width: 100%;
    height: 100%; }
    .safari-form-section .safari-form .eleph-safari::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%; }
    .safari-form-section .safari-form .eleph-safari::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 8px; }

.card-opt {
  font-size: 18px;
  color: #94CA31;
  font-family: 1.8em;
  font-weight: bold; }

.paynow-cont {
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  .paynow-cont .form-group .form-control {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 0; }
