
@import "_variable";
@import "_fontface";
@import "_mixin";

@import "_media-query";
@import "_common";
//bg-img

.lightgray-bg{
    background-color: $gray-bg;
   
}
.sticky {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    transition: all 1s;
    z-index: 20;
 
  }
  .fixed {
    position: fixed;
    animation:navAni 1s;
    background-color:$theme-bg-color;
    @keyframes navAni{
        from{
            top:-70px;
        }
        to{
            top:0;
        }

    }
    
        .nav-section{
            .navbar-brand{
                text-align:left;
                .logo-img{
                    max-width:60%;
                }
            }
        }
        .header-contact-info{
            @include padding-mix(5x 0);
        }
   
  }

  
.nav-section{
    .navbar-brand{
        text-align:left;
        .logo-img{
            max-width:75%;
        }
    }
    @include for-size(mobile-tab-only){
        
        height:60px;
        padding:0px 10px;
       


        .mobile-menu{
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            .navbar-toggler{
                @include position(absolute, 5px,unset,0,0);
                bottom: 0;
                z-index: 9999;
                padding: 0;
                height: auto;
                margin: 0;
                &:visited, &:focus{
                    outline:0;
                    box-shadow: 0 0 0;
                }
                .fa-bars{
                    color: $white;
                    font-size: 1.3em;
                }
            }
        }
       
    }
    
    .navbar-expand-lg{
        padding: 0;

       
        
        .navbar-collapse{
            justify-content: flex-end;
            .navbar-nav{
               
            .nav-item{
                &.active{
                    .nav-link{
                        color:$theme-primary-color;
                        position: relative;
                    &::before{
                        content:"";
                        border-top:2px solid $theme-primary-color;
                        @include position(absolute, -5px, 0, 0, unset);
                        width:15px;
                        margin: 0 auto
                    }
                }
                }
                
                .nav-link{
                    font-size: $small-fontsize;
                    padding: 0 20px;
                    color:$white;

                    &:hover{
                        color:$theme-primary-color;
                        position: relative;
                        &::before{
                            content:"";
                            border-top:2px solid $theme-primary-color;
                            @include position(absolute, -5px, 0, 0, unset);
                            width:15px;
                            margin: 0 auto
                        }
                    }
                }
            }
            
            @include for-size(mobile-tab-only){
                flex-direction: row;
                background: #000;
                padding: 21px 0;
            }
            @include for-size(small-mobile){
                flex-direction: column;
                padding:0px 0;
                width:100%;
                position:fixed;
                top:60px;
                left:0;
                right:0;
                .nav-item{
                    text-align: right;
                    .nav-link{
                        padding:15px 20px;
                        border-bottom:1px solid rgba($white, 0.2);
                    }
                }
                .active{
                    .nav-link{
                  
                    &::before{
                        border-top:0px solid $theme-primary-color;
                    }
                }
                }
            }
        }
    }
}
}


/*===== Banner ===== */

.banner{

    .carousel-indicators {
    @include position(absolute, 0, unset, 0, 0);
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 10%;
    margin-left: 0%;

   
    li{
        @include border-radius(55px);
        width: 12px;
        height: 12px;
        border: 0;
        margin: 0 0 10px 0;
        background-color:$white;
        opacity: 1;
        &.active{
            background-color:$theme-primary-color;
        }
    }
}
@include for-size(phone-only){
    //banner

   .carousel-indicators{
        flex-direction: row;
        margin: 0;
        top: unset;
        margin: 0 auto;
        left: auto;
        width: 100%;
        li{
            margin:0 5px 10px;
        }
   }


   // .booknow{
   //     margin-top:20px;
   // }
   // .mobile-order{
   //     order:2;
   // }
   // footer{
   //     .copyright{
   //         flex-direction:column;
   //     }
   // }
}
    .carousel-caption {
        @include position(absolute, 50%, 12%, unset, unset);
        transform: translate(0px, -50%);
        width: 40%;
        z-index: 10;
        color: $white;
        text-align: left;
        padding: 0;

        h4{
            color:$white;
            font-family: $poppins-bold;
            font-size: 3em;
            margin:0;
        }
        h3{
            color:$theme-secondry-color;
            font-family: $poppins-bold;
            font-size: 5em;
            margin:0;
        }
        p{
            margin:25px 0;
        }
        @include for-size(mobile-tab-only){
            width: 50%;
            top:55%;
            h4{
                font-size: 2.5em;
            }
            h3{
                font-size: 3.5em;
            }
            p{
                margin:10px 0;
            }
                    
      }
      @include for-size( desktop-mid){
        width: 60%;
      }
    }

}
.header-contact-info{
    background-color: $theme-primary-color;
    padding:10px 10px;
    font-size: $small-fontsize;
    font-family: $poppins-semibold;
   
    .mail-top{
        justify-content: space-between;
        align-items: center;

        .contact{
            .vline{
                padding:0 10px;
             }
             @include for-size(small-mobile){
                 @include margin-mix(5px 0 10px 0);
                 .vline{
                    padding:0 10px;
                 }              
            }
        }
        @include for-size(small-mobile){
            justify-content: center;
          
        }
    }
  }
  /* ===== welcome text ===== */

  .welcome-text{
      span{
          color:$theme-secondry-color;
      }
    a{
        color:$theme-secondry-color;
        font-weight: bold;
        text-decoration:underline;
    }
  }

 
  /*===== Booking Option ===== */
  .booknow{
      @include margin-mix(20px 0);

  .book-now-card{
      @include border-radius(4px);
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding:15px;
      box-shadow: 0 0px 5px rgba(0,0,0,0.2);
      margin:0 0 15px 0;
      transition: all 0.5s;
      @include for-size(mobile-tablet){
          flex-direction: column;
          text-align: center;
          padding:10px 5px;
          margin:15px 0 0 0;
        
    }
    &.kanha-taxi{        
        @include background(url(../images/kanha-taxi.jpg), cover);
        &::before{
            background-color:#890508;
            opacity:0.8;
        }
    }
    &.kanha-tour{        
        @include background(url(../images/kanha-taxi.jpg), cover);
        &::before{
            background-color:#18bb27;
            opacity:0.8;
        }
    }
    &.kanha-hotel{        
        @include background(url(../images/kanha-taxi.jpg), cover);
        &::before{
            background-color:#122247;
            opacity:0.8;
        }
    }
    &:hover{
        transform:scale(1.1);
    }
 


      .icon-circle{
        z-index: 2;
        @include border-radius(50px);
        width:100px;
        height:100px;
        border:5px solid $white;
        margin-right:10px;
        text-align: center;
        padding:18px;
        i{
            font-size:50px;
            color:$white;
        }
    }

      .content{
        z-index: 2;
          h5{
              font-family: $poppins-medium;
              font-size: $medium-fontsize;
              color:$white;
              @include for-size(tab-only){
                margin-top:15px;
              
          }
          }
          .cust-secondry-btn{
              font-size: $small-fontsize;
              margin:10px 0 0 0;
              text-align: right;
             
          }
          a{
              border:0;
          }
      }
      &:hover{
          background-color:$bookcard-color;
          cursor: pointer;
          .icon-circle{
            border-color: $white;
            i{
                color:$white;
            }
        }
          .content{
            
            h5{
                color:$white;
            }
            .cust-secondry-btn{
                background-color:$theme-primary-color;
                color:$theme-bg-color;
                border-color:$theme-primary-color;
            }
        }
      }
  }
}
  
 /* ===== hotel booking ===== */
 .slider{
    position: relative;
    margin-bottom: 60px;
    
    .gray-bg{
        position: relative;

        &::after{
        content:"";
        background-color:$gray-bg;
        width:100%;
        height: 90%;
        top: 18%;
        left:0;
        position: absolute;
    }
    .owl-carousel{
        z-index: 1;
    }
    
    .owl-nav {
        
        button{
           
            background-color: #FF9D00 !important;
            width: 50px;
            height: 50px;
            color: #fff !important;
            position: absolute;
            left:-40px;
            z-index: 1;
            top:70px;
            span{
                font-size: 50px;
                line-height: 30px;                
            }
                
                &.owl-next{
                    top:125px
                }
                &:focus{
                    border:0;
                    outline:0;
                }
    }
}
.owl-theme{
    .item{
        position: relative;
        cursor: pointer;
        &:hover{
            .tour-package-data{
                bottom:0%;
            }
        }
        .tour-package-data{
            position: absolute;
            width:100%;
            height:100%;
           
            background-color:rgba(0,0,0,0.8);
            bottom:-100%;
            left:0;
            transition:all 1s;
           
           
            .content-block{
               color:$white ;
               padding:0 15px;
               display:flex;
               flex-direction: column;
                justify-content: center;
                align-items:flex-start;
                height: 100%;
               .time{
                   margin-bottom: 10px;
                   font-size: $small-fontsize;
               }
               .pack-heading{
                   color:$theme-primary-color;
                   font-family: $poppins-bold;
                   font-size: $medium-fontsize;
               }
               .des{
                   font-size: $small-fontsize;
                   line-height: 20px;
                   margin:10px 0 0;
               }

               .price{
                   font-size: $heading-font-size;
                   font-family: $poppins-bold;
                   margin:20px 0;

               }
            }

        }
        
    }
}
    }
}
  /*===== hotels-home ===== */
.bg-img{
    @include background(url("../images/dear-bg.jpg"), cover);
    @include padding-mix(70px 0);
    position: relative;

    
}
  .hotels-home{

  

      .card-body{
        padding:20px;
      .card-title{
        font-size: $medium-fontsize;
        font-family: $poppins-bold;
        color:$theme-bg-color;
      }
      .card-text{
        line-height:23px;
        font-size: $small-fontsize;
      }
    }
    .d-inline-flex{
        display:inline-flex;
    }
  }
  /*===== Blog Card ===== */
  .blog-card{
      .card-img{
          position: relative;
          .date{
              @include border-radius(50px);
              background-color:$theme-secondry-color;
              width:80px;
              height:80px;
              padding:20px 10px;
              display: inline-block;
              color: $white;
              text-align: center;
              font-size:20px;
              font-family: $poppins-bold;
              line-height: 20px;
              position: absolute;
              top:15px;
              right:15px;

          }
      }
      .usefull-info{
          display:flex;
          justify-content: space-between;
          color:rgba(0,0,0,0.5);
          
          .author{
              font-family: $poppins-bold;
              font-size:16px;
          }
          .like-comment{
              font-size:$small-fontsize;
              font-family: $poppins-semibold;
            span{
                padding: 0 0px 0 10px;
                i{
                    color:rgba(0,0,0,0.2);
                }
               
            }

          }
      }
      .card-title{
          font-family: $poppins-bold;
          font-size: $medium-fontsize;
          color:$theme-secondry-color;
          margin:15px 0;
      }
      .card-text{
          font-size: $small-fontsize;
          line-height: 26px;
      }
    
  }

  /*===== Footer CSS ===== */
  footer{
      background-color:$theme-bg-color;

      .footersection{
        h4{
            color:$theme-primary-color;
            font-size:$medium-fontsize;
            text-transform: capitalize;
        }
        a{
            color:$white;
            display: inline-block;
        }
       .footerlink{
            padding:15px 15px;
          ul{
              li{
                  font-size:$small-fontsize;
                  list-style-type: none;
                  a{
                      padding:10px 0 0 0;
                  }
              }
          }
        }
          .contact-info{
            color:$white;
            padding:15px 15px;
            p{
                font-size:$small-fontsize
            }
            .social-med{
                    li{
                        display: inline-block;
                        a{
                            font-size:35px;
                            padding:10px 20px 0 0px;
                            color:$theme-secondry-color;
                            
                        }
                        
                    }
            }
          }
      }
      .copyright{
          display: flex;
          justify-content: space-between;
          align-items: center;
          color:rgba(255,255,255,0.5);
          font-size:$small-fontsize;
          padding:0px 0 20px 0;
       
          a{
         color:rgba(255,255,255,0.5);
        
        }
        
      }
  }
  .book-trip{
      background-color: $theme-primary-color;
      color:$theme-bg-color;
      font-size: $pragraph-font-size;
      padding:10px 15px;
      font-family: $poppins-semibold;
      border:0;
      @include border-radius(4px);
  }


  // Kanha Inner Banner 
  
  .kanha-innerbanner{
      @include background(url("../images/kanha-inner-banner.jpg"), cover);
      &.paynow-banner{
        @include background(url("../images/payment-banner.jpg"), cover);
      }
      &.hotel-banner{
        @include background(url("../images/hotels-banner.jpg"), cover);
        background-position: bottom;
      }
      &.contact-banner{
        @include background(url("../images/contactus-banner.jpg"), cover);
        background-position: bottom;
      }
      min-height:300px;
      .title{
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
      
        h2{
            color:$theme-secondry-color;
            margin:0 0 10px 0;
           
        }
        .breadcrumb{
            background:transparent;
            padding:0px 0;
            font-size:$small-fontsize;
            margin:0;
            .breadcrumb-item{
                a{
                    color:rgba($white, 1);
                }
                &.active{   
                    color:$theme-primary-color
                }
            }
        }
      }
  }

  .hotels-list{
   
    .read-more{
        color:initial;
        transition:all 1s;
        display:block;
        &:hover{
            box-shadow: 0 0 10px rgba($black-color, 0.3);
            text-decoration:none;
            
        }
    }
    .card-img{
        @include border-radius(0.25em 0 0 0.25em);
        height: 200px;
        object-fit: cover;
        object-position: top;
    }
      .data-body{
          @include padding-mix(15px);
       
        .facilites{
            i{
                font-size:$medium-fontsize;
                @include padding-mix(15px 10px 0px 0px);
                color:rgba($black-color, 0.5);
            }
        }
        .card-text{
            line-height: 25px;
            @include margin-mix(10px 0 0);
            font-size:$small-fontsize;
        }
        .time{
            @include padding-mix(10px 0);
            font-size:$pragraph-font-size;
            i{
                color:$theme-secondry-color;
                margin-right:5px;
            }

        }
        .price{
            text-align: right;
            del{
                font-size: 1.4em;
                font-family: $poppins-semibold;
                color:rgba($black-color, 0.5);
            }
            .offerprice{
                color:$theme-secondry-color;
                font-family:$poppins-semibold;
                font-size:$price-fontsize;
                line-height: initial;;
            }
        }
    }
  }

  /* ===== View page ===== */

  
.view-page-content{
    margin-bottom:20px;
    h2{
        font-size: $medium-fontsize;
        font-family: $poppins-semibold;
        @include margin-mix(0 0 10px 0);

        strong{
            color:$theme-secondry-color;
        }
    }
    p{
        line-height: 28px;
        font-size:1.4em
    }

    .extra-info{
        @include margin-mix(15px 0);

       li{
           list-style-type: none;
           font-size:$pragraph-font-size;
           display: flex;
           border-top:1px dashed rgba($theme-bg-color, 0.2);
           @include padding-mix(10px 20px 10px 40px);
           em{
               color:rgba($black-color, 0.7);
           }

           strong{
               min-width:40%;
           }
       }
       .inner-accom{
        li{
            border-top-width:0;
            font-size: 16px;
            padding:5px 0;

            .fa-check{
                color:$theme-secondry-color;
                line-height: 20px;
            }
            .fa-times{
                color:red;
                line-height: 20px
            }
        }
    }
    }

}

/* ===== Tour view table ===== */

.price-table{
    thead{
        background-color:rgba($black-color, 0.15);
    }
}
.address{
   @include padding-mix(25px 0);
    p{
        display:flex;
        align-items: center;
        line-height: 25px;
        i{
            color:$theme-secondry-color;
            font-size:3em;
            margin-right:0.5em;
        }
    }
}

.page-up{

    @include position(fixed, unset, unset, 10px,10px);
    padding:15px 20px;
    z-index: 5;

    border-radius:8px;
    background-color:rgba($theme-secondry-color, 1);
    font-size:$medium-fontsize;
    color:$white;
    display:none;
    &:focus{
        outline:0;
        box-shadow:0 0 0;
    }
    &.show{
        display:block;
    }
}

.safari-form-section{

    .tab-btn{
        @include theme-btn($white, $poppins-reg, $theme-bg-color, $pragraph-font-size, 1);
        @include padding-mix(12px 15px);
        @include border-radius(0);
        border:0px solid $black-color;
        font-size: $pragraph-font-size;
        &.active-btn{
            background-color:$theme-bg-color;
            color:$white;
        }
        &:hover{
            background-color:$theme-bg-color;
            color:$white;
            border-color:$theme-secondry-color;
        }
        &:focus{
            box-shadow: 0 0 0;
            outline:0;
        }
    }
.safari-form{
    background-color:$theme-secondry-color;
    box-shadow:0 0 20px rgba($black-color, 0.15);
    @include border-radius(0px);
    @include padding-mix(10px);
.eleph-show,  #elephant-time{
    display:none;
}

.jeep-safari{
    @include background(url(../images/jeep-safari.jpg), cover);
    @include border-radius(8px);
    width:100%;
    height:100%;
  
    &::before{
        content:"";
        background-color:rgba($black-color, 0.5);
        @include border-radius(8px);
    }
}
.eleph-safari{
    @include background(url(../images/elephant-safari.jpg), cover);
    @include border-radius(8px);
    display:none;
    width:100%;
    height:100%;
  
    &::before{
        content:"";
        background-color:rgba($black-color, 0.5);
        @include border-radius(8px);
    }
}
}
}
.card-opt{
    font-size:18px;
    color:$theme-secondry-color;
    font-family: $medium-fontsize;
    font-weight: bold;
}
.paynow-cont{
    padding: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    .form-group{
     .form-control{
        border:3px solid rgba($black-color, 0.1);
        border-radius:0;
     }
    }
}