$mobile-small: 320px;

$mobile-mid-width:576px;
$mobile-max-width:767px;
$tablet-width:768px;
$tablet-mid-width:991.98px;

$desktop-mid-width:1298px;
$tablet-large-width:1024px;

@mixin for-size($size){
    @if $size == phone-only{
        @media (max-width:$mobile-mid-width){
                @content;
        }
    }
    @else if $size == max-mobile{
        @media (max-width:$mobile-max-width){
                @content;
        }
    }
    
    @else if $size == mobile-tab-only{
        @media(min-width:$mobile-small) and (max-width:$tablet-mid-width )
        {
            @content;
        }
    }
    @else if $size == mobile-tablet{
        @media(min-width:$mobile-mid-width) and (max-width:$tablet-large-width )
        {
            @content;
        }
    }
    @else if $size == small-mobile{
        @media(min-width:$mobile-small) and (max-width:$mobile-mid-width )
        {
            @content;
        }
    }
    @else if $size == tab-only{
        @media(min-width:$tablet-width) and (max-width:$tablet-large-width )
        {
            @content;
        }
    }
    @else if $size == desktop-mid{
        @media(min-width:$tablet-mid-width) and (max-width:$desktop-mid-width )
        {
            @content;
        }
    }
}
@media only screen and (max-width:1000px){
 .container{
     max-width:98%;
 }
    .mobile-order{
        order:2;
    }

}
@media only screen and (max-width:567px){
    .m-form-top{
        margin-top:15px;
    }
   
   }


