// $fa-font-path:"../node_modules/font-awesome/fonts";
$white:#fff;
$gray-bg: #F2F2F2;
$black-color:#000;
$theme-primary-color:#FFCA00;
$theme-bg-color:#0A1E02;
$theme-secondry-color:#94CA31;
$bookcard-color:#1E325C;

$poppins-reg:'poppinsregular';
$poppins-bold: 'poppinsbold';
$poppins-semibold:'poppinssemibold';
$poppins-medium:'poppinsmedium';
$poppins-light:'poppinslight';


$heading-font-size:3em;
$medium-fontsize:1.8em;
$pragraph-font-size:1.6em;
$small-fontsize:1.3em;
$price-fontsize: 2.5em;